.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  margin: auto;
  padding: 1rem;
  gap: 1rem;
}

.information {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: calc(1rem + 1vw);
  width: 100%;
  margin-top: 4rem;
}

.link-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.tools-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  gap: calc(2rem + 2vw);
  width: calc(100% - 5rem);
  padding: 2.5rem;
  border-radius: 24px;
  transition: all 0.3s ease-in-out;
}
