.navbar {
  width: 100%;
  display: flex;
}

.navbar-logo {
  padding: 0.25rem;
  margin-right: auto;
}

.navbar-logo img {
  height: 32px;
}

.navbar-nav {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  margin-left: auto;
}
