.button {
  white-space: nowrap;
  border-radius: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
}

.button p {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}
