.linkbutton {
  display: flex;
  padding: 0.5em;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 100px;
}

.linkbutton img {
  width: 2rem;
  height: 2rem;
}

.tool {
  justify-content: center;
  align-items: center;
}
.tool img {
  padding: 0.1rem;
  width: 4rem;
  height: 4rem;
}
